:root {
  --bg-color: #eaebe6;
  --holder-color: white;
  --color-gray: #c7c7cc;
  --text-color: var(--color-midnight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0e181a;
    --holder-color: #142328;
    --color-gray: #404b4d;
    --text-color: #eaebe6;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  color: var(--text-color);
  background: var(--bg-color);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: "Avenir";
}

#holder {
  background: var(--holder-color);

  padding: 3.5rem 2rem;

  text-align: center;
}

#badge {
  height: 128px;
  margin: auto;
  display: block;
}

h1 {
  font-family: "Aleo";
}

#pass {
  text-align: left;
  display: inline-block;
  font-size: 16px;
}

#password-label {
  display: block;
  text-align: left;
}

#pw-form {
  border-bottom: 3px solid var(--color-gray);
  transition: all 0.4s;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#pw-form.active {
  border-bottom: 3px solid var(--color-bitcamp);
  transition: all 0.4s;
}

#submit {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: var(--color-gray);
  transition: all 0.4s;
}

#submit.active {
  background: var(--color-bitcamp);
  transition: all 0.4s;
}

input {
  background: var(--holder-color);
  border: 0px;
  line-height: 32px;
  margin: 0px;
  font-family: "Avenir";
  outline: none;
}

#copy {
  color: var(--color-gray);
  position: absolute;
  bottom: 0;
}
